<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="com.mapper.CommodityMapper">
    
  <resultMap type="com.fhhpojo.Commodity_details" id="listCommodity" autoMapping="true">
       <id column="d_id" property="d_id"/>
       <!-- <result column="w_name" property="cangku"/> -->
       <association property="commodity" javaType="com.fhhpojo.Commodity">
         <id column="c_id" property="c_id"/>
         <result column="commodity_name" property="commodity_name"/>
       </association>
  </resultMap>

       <select id="list" resultMap="listCommodity">
          SELECT * FROM Commodity_details d,commodity c,warehouse w WHERE d.c_id=c.c_id 
          AND d.w_id=w.w_id
       </select>
       
       <select id="total" resultType="int">
          SELECT count(*) FROM Commodity_details d,commodity c,warehouse w WHERE d.c_id=c.c_id 
          AND d.w_id=w.w_id
       </select>
</mapper>
