<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
    <title></title> 
    <link rel="stylesheet" type="text/css" th:href="@{/templates/Styles/admin-all.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/templates/Styles/base.css}"/>
    <script type="text/javascript" th:src="@{/templates/Scripts/jquery-1.7.2.js}"></script>
    <script type="text/javascript" th:src="@{/templates/Scripts/jquery-ui-1.8.22.custom.min.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/templates/Styles/ui-lightness/jquery-ui-1.8.22.custom.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/templates/Styles/formui.css}"/>
    <script type="text/javascript" th:src="@{/templates/Scripts/tb.js}"></script>
   <!--  <script type="text/javascript">
        $(function () {
            $(".datepicker").datepicker();

            $('#list').hide();
            $('#find').click(function () {
                $('#list').show();
            })
        })

    </script> -->
    <script type="text/javascript">
       function qing(){
    	   $("input[class=qing]").val("");
       }
    </script>
</head>
<body>
    <div class="alert alert-info">当前位置<b class="tip"></b>查询界面<b class="tip"></b>商品查询</div>
    <form action="/listDetails" method="post">
    <table class="tbform">
        <thead>
            <tr>
                <td colspan="6" class="auto-style2">&nbsp;请填写查询条件 </td>
            </tr>
        </thead>
        <tbody>
           <tr>
             <td class="tdl">
               出厂时间:<input type="text" class="qing" name="date_of_production" th:value="${date_of_production}"/>&nbsp;
               商品名称:<input type="text" class="qing" name="commodity_name" th:value="${commodity_name}"/>
             </td>
           </tr>
           
            <tr>
                <td colspan="6" align="right">
                    <input class="btn" id="find" type="submit" value="查询" />
                    <input class="btn" type="button" value="清空" onclick="qing()"/></td>
            </tr>
        </tbody>
    </table>
    <table class="tb" id="list">
         <tbody>
             <tr>
                <th>编号</th>
                <th>仓库</th>
                <th>商品名</th>
                <th>重量</th>
                <th>体积 </th>
                <th>出厂时间</th>
                <th>二维码 </th>
                <th>盘点时间 </th>
                <th>数量</th>
            </tr>
            <tr th:each="details:${page.list}">
                <th th:text="${details.d_id}"></th>
                <th th:text="${details.warehouse.w_name}"></th>
                <th th:text="${details.commodity.commodity_name}"></th>
                <th th:text="${details.weight}"></th>
                <th th:text="${details.volume}"></th>
                <th th:text="${#dates.format(details.date_of_production,'yyyy-MM-dd')}"></th>
                <th th:text="${details.bar_code}"></th>
                <th th:text="${#dates.format(details.inventory_time,'yyyy-MM-dd')}"></th>
                <th th:text="${details.stock.number}"></th>
            </tr>
             </tbody>
       <tr class="pager">
                <th colspan="100">
                	当前第<span th:text="${page.pageNum}"></span>
                	页/共<span th:text="${page.pages}"></span>
              	 	 页&nbsp;&nbsp;共<span th:text="${page.total}"></span>
               	 	条记录&nbsp;&nbsp;
               		<a th:href="@{listDetails(pageNum=1)}">首页</a>&nbsp;
                	<a th:href="@{listDetails(pageNum=${page.nextPage})}">下一页</a>&nbsp;
                    	<span th:each="i:${#numbers.sequence(1,page.pages)}">
                    		<a th:text="${i}" th:href="@{listDetails(pageNum=${i})}"></a>
                    	</span>
                    <a th:href="@{listDetails(pageNum=${page.prePage})}">上一页</a>&nbsp;
                    <a th:href="@{listDetails(pageNum=${page.pages})}">尾页</a></th>
            </tr>
    </table>
    </form>
</body>
</html>
