<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title></title> 
     <meta charset=utf-8/> 
    <link rel="stylesheet" type="text/css" th:href="@{/templates/Styles/admin-all.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/templates/Styles/base.css}"/>
    <script type="text/javascript" th:src="@{/templates/Scripts/jquery-1.7.2.js}"></script>
    <script type="text/javascript" th:src="@{/templates/Scripts/jquery-ui-1.8.22.custom.min.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/templates/Styles/ui-lightness/jquery-ui-1.8.22.custom.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/templates/Styles/formui.css}"/>
    <script type="text/javascript" th:src="@{/templates/Scripts/tb.js}"></script>
   <!--  <script type="text/javascript">
        $(function () {
            $(".datepicker").datepicker();

            $('#list').hide();
            $('#find').click(function () {
                $('#list').show();
            })
        })

    </script> -->
</head>
<body>
    <div class="alert alert-info">当前位置<b class="tip"></b>查询界面<b class="tip"></b>商品查询</div>
    <table class="tbform">
        <thead>
            <tr>
                <td colspan="6" class="auto-style2">&nbsp;请填写查询条件 </td>
            </tr>
        </thead>
       <tbody>
            <tr>
                <td colspan="6" align="right">
                    <input class="btn" id="find" type="button" value="查询" />
                    <input class="btn" type="button" value="清空" /></td>
            </tr>
        </tbody>
    </table>
    <table class="tb" id="list">
         <tbody>
             <tr>
                <th>单据号 </th>
                <th>报销人部门</th>
                <th>报销人</th>
                <th>申请金额</th>
                <th>审核金额 </th>
                <th>所属项目 </th>
                <th>申请人 </th>
                <th>提交日期 </th>
                <th>单据类型 </th>
                <th>审批状态 </th>
                <th>摘要 </th>
            </tr>
           <tr th:each="commodity,listCommodityStat:${page.list}">
                <th th:text="${commodity.d_id}"></th>
           </tr>
             </tbody>
       <tr class="pager">
                <th colspan="100">当前第<span th:text="${page.pageNum}"></span>页/共<span th:text="${page.pages}"></span>页&nbsp;<a th:href="@{'list'(pageNum=${page.firstPage})}">首页</a>&nbsp;<a th:if="${page.pageNum==1}" th:href="@{'list'(pageNum=${page.nextPage})}">下一页</a>&nbsp;
                    <a th:if="${page.pageNum==page.lastPage}" th:href="@{'list'(pageNum=${page.prePage})}">上一页</a>&nbsp;<a th:href="@{'list'(pageNum=${page.lastPage})}">尾页</a></th>
            </tr>
    </table>
</body>
</html>
